*{
    margin: 0;
    padding: 0;
    border: 0;
}

img{
    width: 12%;
    border-radius: 100%;
}

#photoBackground{
    background-image: url("https://cdn.pixabay.com/photo/2017/03/02/16/54/iceland-2111811_1280.jpg");
    padding: 30px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#accueil{
    width: 20%;
    height: 640px;
    margin: auto;
    color: #fff;
    position: relative;
    top: 50px;
}

#photo{
    border-radius: 50%;
    height: 400px;
    width: 300px; ;
}

#TexteAccueil{
    text-align: center;
    position: relative;
    top: 30px;
}

#TexteAccueil h1{
    font-size: 24px;
}

#TexteAccueil h2{
    font-size: 18px;
}
#Icône a{
    color: #fff;
}

#Icône{
    display: flex;
    justify-content: space-evenly;
    font-size: 24px; 
    position: relative; 
    top: 100px; 
}

.Part{
    display: flex;
    background-image: url("https://cdn.pixabay.com/photo/2023/10/27/15/51/italy-8345688_1280.jpg");
    width: 100%;
    height: 45rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#texte_exp_pro{
    background-color: #fff;
    width: 50%;
    border-radius: 1%;
    line-height: 2rem;
    color: black;
}

#part_exp_pro{
    display: flex;
    justify-content: flex-start;
    background-image: url("https://cdn.pixabay.com/photo/2023/10/27/15/51/italy-8345688_1280.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
}


#texte_etudes{
    background-color: #fff;
    width: 50%;
    border-radius: 1%;
    line-height: 2rem;
    color: black;
}

#part_etudes{
    display: flex;
    justify-content: flex-end;
    background-image: url("https://cdn.pixabay.com/photo/2023/10/27/15/51/italy-8345688_1280.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
}


#texte_compétences{
    background-color: #fff;
    width: 50%;
    border-radius: 1%;
    line-height: 2rem;
    color: black;
}

#part_compétences{
    display: flex;
    justify-content: flex-start;
    background-image: url("https://cdn.pixabay.com/photo/2023/10/27/15/51/italy-8345688_1280.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
}


#texte_centre_dintêret{
    background-color: #fff;
    width: 50%;
    border-radius: 1%;
    line-height: 2rem;
    color: black;
}

#part_centre_dintêret{
    display: flex;
    justify-content: flex-end;
    background-image: url("https://cdn.pixabay.com/photo/2023/10/27/15/51/italy-8345688_1280.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.texte{
    padding: 2rem;
}

#texte_image{
    text-align: center;
    color: white;
    border: 3px solid white;
    background-color: black;
    position: relative;
    text-decoration: none;
    top: 7rem;
    right: 17rem;
}

#part h1{
    font-size: 36px;
}


#part h2{
    font-size: 24px;
}

#part p{
    font-size: 18px;
}

#part li{
    font-size: 20px;
}

.Title_h1{
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}

.Title_h2{
    margin-left: 2rem;
}

.Title_h3{
    margin-left: 4rem;
}

.texte_centre{
    padding: 30px;
    margin: 30px;
}

i:hover{
    color: yellow;
    transform: scale(150%);
    transition: 500ms;
}

#texte_image:hover{
    color: yellow;
    border-color: yellow;
    transform:rotate(360deg);
    transition: 2s;

}

#part_centre_dintêret a{
    text-decoration: none;
}





