#photoBackground{
    background-image: url("https://cdn.pixabay.com/photo/2017/03/02/16/54/iceland-2111811_1280.jpg");
    padding: 30px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#accueil{
    width: 20%;
    margin: auto;
    color: #fff;
}

#photo{
    border-radius: 50%;
    height: 400px;
    width: 300px; ;
}

#TexteAccueil{
    justify-content: center;
    text-align: center;
}

#TexteAccueil h1{
    font-size: 24px;
}

#TexteAccueil h2{
    font-size: 18px;
}

#Icône{
    display: flex;
    justify-content: space-around;
    color: white;
    color:link white

}

#FirstPart{
    display: flex;
}

#Image_First_Part{
    background-image: url("https://cdn.pixabay.com/photo/2023/10/27/15/51/italy-8345688_1280.jpg");
    width: 928px;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#SecondPart{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

}

#Image_Second_Part{
    background-image: url("https://cdn.pixabay.com/photo/2023/10/27/15/51/italy-8345688_1280.jpg");
    width: 786px;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#ThirdPart{
    display: flex;
}

#Image_Third_part{
    background-image: url("https://cdn.pixabay.com/photo/2023/10/27/15/51/italy-8345688_1280.jpg");
    width: 1048px;
    height: 500px;
    margin-left: 140px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#LastPart{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

#Image_Last_part{
    background-image: url("https://cdn.pixabay.com/photo/2023/10/27/15/51/italy-8345688_1280.jpg");
    width: 788px;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#texte_image{
    text-align: center;
    color: white;
    border: 2px solid white;
    background-color: black;
    position: relative;
    top: 200px;
    margin-left: 150px;
    margin: 150px;
}

#part h1{
    font-size: 36px;
}

#part h2{
    font-size: 24px;
}

#part p{
    font-size: 18px;
}

#part li{
    font-size: 20px;
}

.border_bottom{
    border-bottom: 2px solid black;
}

.texte_centre{
    padding: 30px;
    margin: 30px;
}

*a:hover{
    color: yellow;
}