
body{
    margin: 0;
}
header {
    ul{
        height: 3rem;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-size: 10px;
        align-items: center;
    }
    a{
        color: black;
        text-decoration: none;
    }
}

header a:hover{
    text-decoration: underline;
}
