
@media all and (max-width:425px){
    header{
        flex-direction: column;
    }
    main{
        #part{
            section{
                div{
                    flex-direction: column;
                }
            }
            
        }
        
    }
    footer{
        flex-direction: column;
    }
}