
@media all and (max-width:425px){
    header{
        flex-direction: column;
    }
    main{
        #accueil{
            #photo{
                flex-direction: column;
            }
            #TexteAccueil{
                flex-direction: column;
            }
            #Icône{
                flex-direction: column;
            }
        }
        #part{
            section{
                #Firstpart{
                    .texte_centre{
                        flex-direction: column;
                    }
                    #Image_First_Part{
                        flex-direction: column;
                    }
                }
            }
        }

    }
}