@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

body {
  margin: 0;
}

header ul {
  height: 3rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 10px;
  align-items: center;
}
header a {
  color: black;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

#photoBackground {
  background-image: url("https://cdn.pixabay.com/photo/2017/03/02/16/54/iceland-2111811_1280.jpg");
  padding: 30px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#accueil {
  width: 20%;
  height: 640px;
  margin: auto;
  color: #fff;
  position: relative;
  top: 50px;
}

#photo {
  border-radius: 50%;
  height: 400px;
  width: 300px;
}

#TexteAccueil {
  text-align: center;
  position: relative;
  top: 30px;
}

#TexteAccueil h1 {
  font-size: 24px;
}

#TexteAccueil h2 {
  font-size: 18px;
}

#Icône a {
  color: #fff;
}

#Icône {
  display: flex;
  justify-content: space-evenly;
  font-size: 24px;
  position: relative;
  top: 100px;
}

.Part {
  display: flex;
  background-image: url("https://cdn.pixabay.com/photo/2023/10/27/15/51/italy-8345688_1280.jpg");
  width: 100%;
  height: 45rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#Image_First_Part {
  background-image: url("https://cdn.pixabay.com/photo/2023/10/27/15/51/italy-8345688_1280.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Image_Second_Part {
  background-image: url("https://cdn.pixabay.com/photo/2023/10/27/15/51/italy-8345688_1280.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Image_Third_part {
  background-image: url("https://cdn.pixabay.com/photo/2023/10/27/15/51/italy-8345688_1280.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Image_Last_part {
  background-image: url("https://cdn.pixabay.com/photo/2023/10/27/15/51/italy-8345688_1280.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#texte_image {
  text-align: center;
  color: white;
  border: 3px solid white;
  background-color: black;
  position: relative;
  top: 100px;
  margin-left: 150px;
  margin: 150px;
  text-decoration: none;
}

#part h1 {
  font-size: 36px;
}

#part h2 {
  font-size: 24px;
}

#part p {
  font-size: 18px;
}

#part li {
  font-size: 20px;
}

.border_bottom {
  border-bottom: 2px solid black;
}

.texte_centre {
  padding: 30px;
  margin: 30px;
}

i:hover {
  color: yellow;
  transform: scale(150%);
  transition: 500ms;
}

#texte_image:hover {
  color: yellow;
  border-color: yellow;
  transform: rotate(360deg);
  transition: 2s;
}

footer {
  padding: 20px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  font-size: 24px;
}

footer a {
  color: white;
}

* {
  scroll-behavior: smooth;
}

/*# sourceMappingURL=style.css.map */
